/*GLOBAL VARIABLES - COLORS*/
:root {
	--white-color: #FDFFFE; 
	/* --grey-color: #252627; */
	--grey-color: #162427;
	--dark-grey-color: #181818;
	--textbox-color: rgba(24, 24, 24, .75);
	--blue-color: #1B9CE2;
	/* --orangered-color: orangered; */
	--orangered-color: #e05b3a;
	--green-color: rgb(52, 190, 144);
	--header-font: 'Poppins', sans-serif;
	--main-font: 'Roboto', sans-serif;
}

/* ========================= ALL SECTIONS ========================= */

.container1 {
	display: grid;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--grey-color);
	grid-template-columns: 60px auto;
	grid-template-rows: auto;
	grid-template-areas: 
    "navbar main-content";
}

.main {
	grid-area: main-content;
	overflow: auto;
}

section.home {
	color: var(--white-color);
}

section.about {
	color: var(--blue-color)
}

section.portfolio {
	color: var(--white-color)
}

section.contact {
	color: var(--orangered-color);
}

.header {
	margin-left: 96px;
}

/* ========================= NAV ========================= */

.navbar {
	display: flex;
	justify-content: center;
	background-color: var(--dark-grey-color);
	grid-area: navbar;
	z-index: 1;
}

ul.navbar__linkbox {
	color: var(--white-color);
	/* Fix this to be not weird */
	position: relative;
	top: 7%;
}

li {
	margin: 1.5em 0 1.5em 0;
}

.down-nav {
	position: absolute;
	bottom: 25px;
	left: 48%;
}

.down-nav > a {
	color: var(--white-color);
}

/* ========================= MAIN ========================= */

.home {
	/* background-image: url('../img/red-fireworks.jpg'); */
	background-image: url('../img/city-dark.jpg');
	background-size: cover;
	background-position: center top; 

}

.contact__box--slider {
	background-color: var(--orangered-color);
	color: var(--white-color);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/* NEED THIS FOR SLIDE UP */
	overflow: hidden;
}

.contact__textbox--slider {
	background-color: var(--textbox-color);
	text-align: center;
	/* NEED THIS FOR SLIDE UP */
	bottom: -100%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;
}

.contact__box--slider:hover .contact__textbox--slider {
  bottom: -50%;
}

.resume__box {
	top: 5%;
	right: 3%;
	height: 120px;
	width: 120px;
	margin: 30px; 
}

.resume__textbox > p {
	font-size: 22px;
    margin-top: 12px;
}

/* ========================= ABOUT ========================= */

.about__container {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas: 
    "header"
    "main"
    "footer";
}

.about__header {
	grid-area: header;
}

.about__main {
	grid-area: main;
	display: flex;
	justify-content: space-between;
}

.about__content-box--1 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 40%;
	margin: 0 32px 0 64px;
}

.about__content-box--2 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 35%;
}

.about__content-box--3 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 20%;
	margin: 0 64px 0 32px;
}

.about__footer {
	grid-area: footer;
}

.about__content-box--4 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 100%;
	width: 60%;
	margin: 0 36px 0 64px;
}

.about__title {
	font-size: 24px;
	margin-left: 24px;
	font-weight: 600;
}

.about__title--skills {
	padding-top: 20px;
}

p.about__text--main {
    margin: 0 30px;
}

ul.about__text--random {
    margin: 0 24px;
}

/* .about__content-box--4 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 100%;
	width: 20%;
	margin: 0 36px;
} */





/* ========================= PORTFOLIO ========================= */
.box__portfolio {
	display: flex;
	align-items: flex-end;
	height: 85%;
	margin: 100px 100px 100px 100px;
	background-size: cover;
	background-position: center top; 
	/* NEED THIS FOR SLIDE UP */
	overflow: hidden;
	position: relative;
	  

}

.portfolio__textbox {
	background-color: var(--textbox-color);
	display: flex;
	flex-direction: column;
	/* NEED THIS FOR SLIDE UP */
	bottom: -85%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;
}

/* NEED THIS FOR SLIDE UP */
.box__portfolio:hover .portfolio__textbox {
	bottom: -60%;
}

.portfolio__textbox-row {
	display: flex;
	justify-content: space-between;
}

.portfolio__textbox h1, .portfolio__textbox a {
	color: var(--white-color);
}

.box--solitaire {
	background-image: url('../img/solitaire-screenshot.png');
}

.box--recrypt {
	background-image: url('../img/recrypt-screenshot.png');
}

.box--dreamstate {
	background-image: url('../img/dreamstate-screenshot.png');
}

.portfolio__textbox-row > h1 {
	margin: 30px;
}

.portfolio__textbox--links {
	margin-top: 30px;
}

.portfolio__textbox--links > a {
	margin: 30px 30px 30px 0;
}

.portfolio__textbox--description {
	/* background: #eee; */
	width: 65%;
	margin: 0 0 30px 30px;
}

.portfolio__textbox--description > p, .portfolio__textbox--tech > ul, .portfolio__textbox--tech li {
    margin-top: 0;
}

/* .portfolio__textbox--tech > p {
	font-size: 1.25em;
} */

.portfolio__textbox--tech {
	/* background: #ddd; */
	width: 27%;
	margin: 0 30px 30px 0;
}

/* ========================= CONTACT ========================= */

.contact__container {
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-areas: 
    "header"
    "main";
}

.contact__header {
	grid-area: header;
}

.contact__main {
	grid-area: main;
	width: 77%;
	display: flex;
	justify-content: space-between;

}

.contact__box {
	width: 17%;
	padding: 3% 0;
	margin: 30px;
}

.contact__textbox > p {
	font-size: 28px;
    margin-top: 14%;
}

/* ========================= TABLET ========================= */
@media only screen and (max-width: 992px) {
	/* ========================= SECTIONS ========================= */
	.container1 {
		grid-template-columns: auto;
		grid-template-rows: 60px auto;
		grid-template-areas: 
			"navbar"
			"main-content";
	}

	.header {
		text-align: center;
		margin: 0;
	}



	/* ========================= NAV ========================= */
	ul.navbar__linkbox {
		display: flex;
		flex-direction: row;
	}

	/* margins for nav buttons */
	li {
		margin: 0 1.5em 0 1.5em;
	}
	
	.down-nav {
		bottom: 65px;
	}

	/* ========================= MAIN ========================= */


	/* ========================= ABOUT ========================= */

	.about__main {
		flex-direction: column;
	}

	.about__content-box--1 {
		/* background-color: var(--blue-color); */
		/* color: var(--white-color); */
		height: 50%;
		width: 90%;
		margin: 0 64px;
	}
	
	.about__content-box--2 {
		/* background-color: var(--blue-color); */
		/* color: var(--white-color); */
		height: 40%;
		width: 90%;
		margin: 0 64px;
		/* margin: 0; */
	}

	.about__content-box--4 {
		/* background-color: var(--blue-color); */
		/* color: var(--white-color); */
		height: 80%;
		width: 60%;
		margin: 0 36px 0 64px;
	}

	/* ========================= PORTFOLIO ========================= */
	
	div.slide {
		align-items: flex-start;
	}

	.box__portfolio {
		margin: 0;
		align-self: center;
	}

	.box__portfolio{
		margin-bottom: 120px;
	}
	/* .fp-tableCell { */
		/* display: table-cell; */

	/* ========================= CONTACT ========================= */

	.contact__container {
		grid-template-rows: 1fr 8fr;
	}

	.contact__main {
		grid-area: main;
		width: 90%;
		height: 55%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* align-items: center; */
	}

	.contact__box {
		width: 90%;
		height: 15%;
		padding: 0;
		margin: 1px;
	}
}











/* ========================= MOBILE ========================= */
@media only screen and (max-width: 600px) {
	/* ========================= SECTIONS ========================= */


	.header > h1 {
		font-size: 36px;
	}

	.header > h3 {
		font-size: 24px;
	}
	
	/* ========================= NAV ========================= */
	
	
	
	
	
	/* ========================= MAIN ========================= */
	.resume__box {
		/* top: 5%; */
		right: 3%;
		height: 90px;
		width: 90%;
		margin: 30px auto; 
	}

	.resume__textbox > p {
		font-size: 22px;
		margin-top: 12px;
		margin: 30px 0;
	}

	.resume__icon--alt {
		position: relative;
		left: 0;
	}




	/* ========================= ABOUT ========================= */


	/* ========================= PORTFOLIO ========================= */

	/* ========================= CONTACT ========================= */


	.contact__box--slider {


		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		/* NEED THIS FOR SLIDE UP */
		overflow: visible;
	}
	
	.contact__textbox--slider {

		text-align: center;
		/* NEED THIS FOR SLIDE UP */
		bottom: 0;
		height: 100%;
		left: 20%;
		position: absolute;
		transition: none;
		width: 80%;
	}
	
	.contact__box--slider:hover .contact__textbox--slider {
	  bottom: 0;
	}
}


