/*GLOBAL VARIABLES - COLORS*/
:root {
	--white-color: #FDFFFE; 
	--grey-color: #162427;
	--dark-grey-color: #181818;
	--textbox-color: rgba(24, 24, 24, .75);
	--blue-color: #1B9CE2;
	--orangered-color: #e05b3a;
	--green-color: rgb(52, 190, 144);
	--header-font: 'Poppins', sans-serif;
	--main-font: 'Roboto', sans-serif;
}

/* ========================= ALL SECTIONS ========================= */

.container1 {
	display: grid;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--grey-color);
	grid-template-columns: 60px auto;
	grid-template-rows: auto;
	grid-template-areas: 
    "navbar main-content";
}

.main {
	grid-area: main-content;
	overflow: auto;
}

section.home {
	color: var(--white-color);
}

section.about {
	color: var(--blue-color)
}

section.portfolio {
	color: var(--white-color)
}

section.contact {
	color: var(--orangered-color);
}

.header {
	margin-left: 96px;
}

/* ========================= NAV ========================= */

.navbar {
	display: flex;
	justify-content: center;
	background-color: var(--dark-grey-color);
	grid-area: navbar;
	z-index: 1;
}

ul.navbar__linkbox {
	color: var(--white-color);
	/* Fix this to be not weird */
	position: relative;
	top: 7%;
}

li {
	margin: 1.5em 0 1.5em 0;
}

.down-nav {
	position: absolute;
	bottom: 30px;
	left: 48%;
	z-index: 1;
}

.down-nav > a {
	color: var(--white-color);
}

/* ========================= MAIN ========================= */

.home::before {
	width: 100%;
	height: 24%;
	content: "";
  	position: fixed;
	z-index: -1;
	  
	background-image: url('../img/city-dark.jpg');
	background-size: cover;
	background-position: center top; 

	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.resume__box--slider {
	background-color: var(--orangered-color);
	color: var(--white-color);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.resume__box--slider:hover .resume__textbox--slider {
  bottom: -50%;
}

.resume__box {
	top: 5%;
	right: 3%;
	height: 120px;
	width: 120px;
	margin: 30px; 
}

.resume__textbox > p {
	font-size: 22px;
    margin-top: 12px;
}

.resume__textbox--slider {
	background-color: var(--textbox-color);
	text-align: center;
	/* NEED THIS FOR SLIDE UP */
	bottom: -50%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;
}


/* ========================= PORTFOLIO ========================= */
.box__portfolio {
	display: flex;
	align-items: flex-end;
	height: 85%;
	margin: 80px;
	background-size: cover;
	background-position: center top; 
	/* NEED THIS FOR SLIDE UP */
	overflow: hidden;
	position: relative;
}

.portfolio__textbox {
	background-color: var(--textbox-color);
	display: flex;
	flex-direction: column;
	/* NEED THIS FOR SLIDE UP */
	bottom: -85%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;
}

/* NEED THIS FOR SLIDE UP */
.box__portfolio:hover .portfolio__textbox {
	bottom: -60%;
}

.portfolio__textbox-row {
	display: flex;
	justify-content: space-between;
}

.portfolio__textbox h1 {
	color: var(--white-color);
}

.box--dreamstate {
	background-image: url('../img/dreamstate-screenshot.png');
}

.box--solitaire {
	background-image: url('../img/solitaire-screenshot.png');
}

.box--recrypt {
	background-image: url('../img/recrypt-screenshot.png');
}

.portfolio__textbox-row > h1 {
	margin: 30px;
}

.portfolio__textbox--links {
	margin-top: 20px;
}

.portfolio__textbox--links > a {
	color: var(--white-color);
} 

.portfolio__textbox--links {
	display: flex;
}

.portfolio__linkbox {
	text-align: center;
	margin-right: 20px;
}

.portfolio__linkbox > p {
	margin-top: 1px;
}

.portfolio__textbox--description {
	width: 55%;
	margin: 0 0 30px 30px;
}

.portfolio__textbox--description > p, .portfolio__textbox--tech > ul, .portfolio__textbox--tech li {
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio__textbox--tech {
	width: 33%;
	margin: 0 30px 30px 0;
}

.portfolio__textbox--tech > ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.portfolio__textbox--tech-title {
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 16px;
	text-decoration: underline;
	font-weight: 500;
}

.down-nav--portfolio {
	bottom: 15px;
}

/* ========================= ABOUT ========================= */

.about__container {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas: 
    "header"
    "main"
    "footer";
}

.about__header {
	grid-area: header;
}

.about__main {
	grid-area: main;
	display: flex;
	justify-content: space-between;
}

.about__content-box--1 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 40%;
	margin: 0 32px 0 64px;
}

.about__content-box--2 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 35%;
}

.about__content-box--3 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 95%;
	width: 20%;
	margin: 0 64px 0 32px;
}

.about__content-box--3 > img {
	width: 90%;
	margin: 5%;
}

.about__content-box--3 > p {
    margin: 0 16px;
}

.about__footer {
	grid-area: footer;
}

ul.about__text--skills {
	margin: 0 45px 15px 45px;
}

.about__content-box--4 > p {
	margin-bottom: 0;
}

.about__content-box--4 {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 100%;
	width: 60%;
	margin: 0 36px 0 64px;
}

.about__text--skills > li {
	display: inline;
    font-size: 16px;
	margin-right: 10px;
	list-style-type: circle
}

.about__title {
	font-size: 24px;
	margin-left: 24px;
	font-weight: 600;
}

.about__title--skills {
	padding-top: 12px;
}

p.about__text--main {
    margin: 0 30px;
}

ul.about__text--random {
    margin: 0 24px;
}


/* ========================= CONTACT ========================= */

.contact__container {
	display: grid;
	grid-template-rows: 1fr 2fr 3fr;
	grid-template-areas: 
    "header"
	"main"
	"footer";
}

.contact__header {
	grid-area: header;
}

.contact__main {
	grid-area: main;
	width: 77%;
	display: flex;
	justify-content: space-between;
}

.contact__box {
	width: 17%;
	padding: 3% 0;
	margin: 30px;
}

.contact__textbox > p {
	font-size: 28px;
    margin-top: 14%;
}

.contact__footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
}

.contact__dialog-box {
	background-color: var(--orangered-color);
	color: var(--white-color);
	width: 60%;
	height: 160px;
	margin-top: 100px;
}

.contact__dialog-box > p {
	font-size: 18px;
	margin: 24px;
}

.contact__main--mobile {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.contact-box__mobile--container {
	margin-bottom: 175px;
	margin-left: 5%;
}

.contact__box--slider {
	background-color: var(--orangered-color);
	color: var(--white-color);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/* NEED THIS FOR SLIDE UP */
	overflow: hidden;
}

.contact__box--slider:hover .contact__textbox--slider {
	bottom: -50%;
}
  
.contact__textbox--slider {
	background-color: var(--textbox-color);
	text-align: center;
	/* NEED THIS FOR SLIDE UP */
	bottom: -1000%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;
}


/* ========================= TABLET ========================= */
@media only screen and (max-width: 992px) {
	/* ========================= SECTIONS ========================= */
	.container1 {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			/* "navbar" */
			"main-content";
	}

	.header {
		text-align: center;
		margin: 0;
	}

	/* ========================= NAV ========================= */

	/* ========================= MAIN ========================= */

	.contact__textbox--slider {
		text-align: center;
		bottom: 0;
		height: 100%;
		left: 20%;
		position: absolute;
		transition: none;
		width: 80%;
	}
	
	.contact__box--slider:hover .contact__textbox--slider {
	  	bottom: 0;
	}

	/* ========================= PORTFOLIO ========================= */
	
	div.slide {
		align-items: flex-start;
	}

	.box__portfolio {
		margin: 0;
		align-self: center;
	}

	.box__portfolio{
		margin-bottom: 120px;
	}

	.portfolio__content-box--mobile {
		width: 90%;
		height: 200px;
		padding: 0;
		margin: 1px;
		margin-left: 5%;
		background-color: var(--grey-color);
		background-size: cover;
		background-position: center top; 
		overflow: hidden;
		margin-top: 20px;
	}

	.portfolio__textbox--mobile {
		background-color: var(--textbox-color);
		display: flex;
		flex-direction: column;
		bottom: -70%;
		height: 100%;
		position: relative;
	}

	.portfolio__textbox-row > h1 {
		font-size: 32px;
		margin: 15px 0 0 10px;
	}

	.portfolio__textbox--links > a {
		margin-top: -12px;
	}

	.portfolio__linkbox > p {
		font-size: 12px;
	}

	/* ========================= ABOUT ========================= */

	.about__container {
		grid-template-rows: 1fr 8fr;
		grid-template-areas: 
		"header"
		"main";
	}

	.about__main {
		/* flex-direction: column; */
	}

	.about__footer {
		grid-area: main;
	}

	.about__content-box--1 {
		height: 70%;
		width: 100%;
		margin: 0 5%;
	}
	
	.about__content-box--2 {
		height: 70%;
		width: 100%;
		margin-right: 5%;

	}

	.about__content-box--4 {
		height: 15%;
		width: 90%;
		margin: 0 5%;
		position: relative;
		top: 71%;
	}

	.down-nav--about {
		position: absolute;
		bottom: 70px;
	}


	/* ========================= CONTACT ========================= */

	.contact__container {
		grid-template-rows: 1fr 8fr;
	}

	.contact__main {
		grid-area: main;
		width: 90%;
		height: 55%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.contact__box {
		width: 90%;
		height: 15%;
		padding: 0;
		margin: 1px;
	} 

	.contact__textbox > p {
		text-align: left;
		position: absolute;
		left: 30px;
		top: -10px;
	}

	.contact__box--slider--about {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;
	}
	
	.contact__textbox--slider {
		text-align: center;
		bottom: 0;
		height: 100%;
		left: 23%;
		position: absolute;
		transition: none;
		width: 77%;
	}
	
	.contact__box--slider:hover .contact__textbox--slider {
	  	bottom: 0;
	}

	.about__icon--alt {
		position: absolute;
		left: 6.5%;
	}
}

/* ========================= MOBILE ========================= */
@media only screen and (max-width: 600px) {
	/* ========================= SECTIONS ========================= */
	.header > h1 {
		font-size: 36px;
	}

	.header > h3 {
		font-size: 24px;
	}
	
	/* ========================= NAV ========================= */
	
	
	/* ========================= MAIN ========================= */
	.resume__box {
		right: 3%;
		height: 90px;
		width: 90%;
		margin: 30px auto; 
	}

	.resume__textbox > p {
		font-size: 22px;
		margin-top: 12px;
		margin: 30px 0;
		position: absolute;
		left: 20px;
	}

	.resume__icon--alt {
		position: absolute;
		left: 6.5%;
	}

	.resume__textbox--slider {
		text-align: center;
		bottom: 0;
		height: 100%;
		left: 20%;
		position: absolute;
		transition: none;
		width: 80%;
	}

	.resume__box--slider:hover .resume__textbox--slider {
		bottom: 0%;
	}
	
	.down-nav--home {
		bottom: 30px;
		left: 45%;
	}

	/* ========================= PORTFOLIO ========================= */
	
	.portfolio__content-box--mobile {
		height: 120px;
	}

	.portfolio__textbox--mobile {
		bottom: -50%;
	}

	.portfolio__linkbox > p {
		font-size: 10px;
	}

	/* ========================= ABOUT ========================= */

	.about__container {
		grid-template-rows: 1fr;
	}

	.about__content-box--1 {
		/* height: 73.5%; */
		height: 567px;
		width: 90%;
		margin: 0 5%;
	}

	.about__header > h1 {
		margin: 0 0 12px 0;
	}

	p.about__title--main {
		margin: 12px 24px 8px 24px;
	}

	/* ========================= CONTACT ========================= */

	.contact__textbox--slider {
		left: 30%;
		width: 70%;
	}

	.contact__box {
		height: 13%;
	}
	
	.contact-box__mobile--container {
		margin-bottom: 125px;
	}

	.contact__textbox > p {
		left: 20px;
		top: 5px;
	}
}


