/*GLOBAL VARIABLES - COLORS*/
:root {
  --white-color: #FDFFFE; 
  --grey-color: #252627;
	--dark-grey-color: #181818;
	--textbox-color: rgba(24, 24, 24, .75);
  --blue-color: #1B9CE2;
  --orangered-color: orangered;
  --green-color: rgb(52, 190, 144);
  --header-font: 'Poppins', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

/* ========================= MAIN ========================= */

.container1 {
	display: grid;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--grey-color);
	grid-template-columns: 60px auto;
	grid-template-rows: auto;
  grid-template-areas: 
    "navbar main-content";
}

.main {
	grid-area: main-content;
	overflow: auto;
}

/* ========================= NAV ========================= */

.navbar {
	display: flex;
	justify-content: center;
	background-color: var(--dark-grey-color);
	grid-area: navbar;
	z-index: 1;
}

ul.navbar__linkbox {
	color: var(--white-color);
	/* Fix this to be not weird */
	position: relative;
	top: 7%;
}

li {
	margin: 1.5em 0 1.5em 0;
}


/* ========================= SECTIONS ========================= */

section.home {
	color: var(--white-color);
}

section.about {
	color: var(--blue-color)
}

section.portfolio {
	color: var(--green-color)
}

section.contact {
	color: var(--orangered-color);
}





/* ========================= MAIN ========================= */

.resume__box {
	background-color: var(--orangered-color);
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 120px;
	margin: 30px;
}



/* ========================= ABOUT ========================= */


/* ========================= PORTFOLIO ========================= */
.box__portfolio {
	display: flex;
	align-items: flex-end;
	height: 85%;
	margin: 100px 100px 100px 100px;
	background-size: cover;
	background-position: center top; 
	
	
	/* NEED THIS FOR SLIDE UP */
	overflow: hidden;
	position: relative;
	  

}

.portfolio__textbox {
	background-color: var(--textbox-color);
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;
	align-items: flex-start; */
	/* width: 100%; */
	
	/* NEED THIS FOR SLIDE UP */
	bottom: -85%;
	height: 100%;
	left: 0%;
	position: absolute;
	transition: bottom 0.5s ease;
	width: 100%;

}

div.slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box__portfolio:hover .portfolio__textbox
{
  bottom: -60%;
}

.portfolio__textbox-row {
	display: flex;
	justify-content: space-between;
}

.portfolio__textbox h1, .portfolio__textbox a {
	color: var(--white-color);
}


.box--solitaire {
	background-image: url('../img/solitaire-screenshot.png');
}

.box--recrypt {
	background-image: url('../img/recrypt-screenshot.png');
}

.box--dreamstate {
	background-image: url('../img/dreamstate-screenshot.png');
}

.portfolio__textbox > h1, .portfolio__textbox--links {
	margin: 24px;
}

/* ========================= CONTACT ========================= */
.contact__area {
	/* display: flex;
	justify-content: center; */
	/* flex-wrap: wrap; */
}

.contact__row {

}

.contact__box {
	background-color: var(--orangered-color);
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	padding-top: 30%;
	margin: 30px;
}

.contact__textbox {
	background-color: var(--textbox-color);
}


/* ========================= MOBILE ========================= */
@media only screen and (max-width: 960px) {
	.container1 {
		grid-template-columns: auto;
		grid-template-rows: 60px auto;
		grid-template-areas: 
			"navbar"
			"main-content";
	}

	ul.navbar__linkbox {
		display: flex;
		flex-direction: row;
	}

	/* margins for nav buttons */
	li {
		margin: 0 1.5em 0 1.5em;
	}
	
	div.slide {
		align-items: flex-start;
	}

	/* PORTFOLIO */
	.box__portfolio {
		margin: 0;
		align-self: center;
	}

	/* CONTACT */
	


}

/* MOBILE FORMATTING */
/* @media only screen and (max-width: 455px) {
	.contact__box {
		background-color: #3F51B5;
		color: #5c3a3a
	}
} */

/* HACK FOR CONTACT SIZING ON SMALL SCREEN */
/* @media only screen and (max-width: 569px) {
	.contact__box {
		display: grid;
		width: 87%;
		height: 20%;
		margin: 10px
	}

	.contact__box > i {
		margin: 8px;
	}
} */